.inputText{
    margin-bottom: 5vh;
    border-left: none;
    border-top: none;
    border-right: none;
    background-color:transparent;
    outline: none;
    /* color: black; */
    caret-color: black ;
   


}
input[type=number]{
    text-align: center;
    color: black;
    font-size: 20px;
    
    
}
input::placeholder {
    text-align: center;
    color: black;
    font-size: 20px;


}
input[type=submit]{
    background: rgba(255, 255, 255, .2);
    width: 100%;
    padding: 2vh;
    border: none;
    cursor: pointer;
    font-size: 20px;
    border-radius: 4px 4px;
}

#result{
background: rgba(255, 255, 255, .2);
margin-top: 20px;
    width: auto;
    padding: 2vh;
    border: none;
text-align: center;
    border-radius: 4px 4px;
    font-size: 20px;
}
#resultt{

        margin-top: 20px;
        width: auto;
      word-wrap: break-word;
        padding: 2vh;
        /* border: none; */
        /* text-align: center; */
        
        border-radius: 4px 4px;
        font-size: 20px;
        word-spacing: 5px;
        line-height: 6vh;
        border: 1px solid black;
        
      
}
.formContainer{
    display: flex;
    justify-content: center;
    align-items: 'center';
    flex-direction: column;
    height: 80vh;
    width: 40vh;

}